.video-with-background {
  background-size: 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.video-with-background .container {
  max-width: 800px;

  margin: 0 auto;
  text-align: center;
}

.video-with-background .content-wrapper {
  padding: 4rem 0;
}

.video-with-background h2.h1 {
  margin: 0 auto 1rem;
}
